
[submodule "python/tfc_PyFactory"]
	path = python/tfc_PyFactory
	url = git@github.com:tfc-engineering/tfc_PyFactory.git
[submodule "python/tfc_TestSystem"]
	path = python/tfc_TestSystem
	url = git@github.com:tfc-engineering/tfc_TestSystem.git
[submodule "external/yaml-cpp"]
	path = external/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "external/cpptrace"]
	path = external/cpptrace
	url = https://github.com/jeremy-rifkin/cpptrace.git
